BasedOnStyle : LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true


Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
