BasedOnStyle : LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true


Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
